<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> GIT REPOSITÓRIO HUB </title>
</head>
<body>


<header>
	<nav class="sticky-top navbar navbar-dark bg-dark mb-5" style=" width:100%;">
	<div class="conteiner">
		<a href="http://localhost:9090/TOPi/index.html" class="navbar-brand">GIT REPOSITÓRIO HUB </a>
	</div>
	</nav>
</header>

<section>
	<div class="container">
		<div class="card card-body">

			<h1>Pesquisar de repositório GitHub</h1>
			<p class="lead">Digite um nome do usuário </p>
			<ul style="list-style:none;">
				<li><input id="pesquisar" placeholder="Pesquise aqui..." type="text" class="form-control" required /></li>
				<li>
					<a href="index.html" type="button"  class="btn btn-outline-dark " Style="width:180px; margin-top:15px;" >Limpar Pesquisar</a>
					
				</li>	
			</ul>
		
</div>
		<div id="usuario"></div>

	</div>
	
	<!--  
<div class="row">
	<div class="col-md-4">
		<div class="card" style="width:18em;">
		<img class="card-img-top" src=""/>
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><span class="badge"></span ></li>
			<li class="list-group-item"><span class="badge"></span class="badge bade-primary"></li>
			<li class="list-group-item"><span class="badge"></span class="badge bade-info"></li>
		</ul>
			<div class="card-body">
			<a href="" class="btn btn-warning btn-block"> Ver Perfil</a>
			</div>	
		</div>
	</div>
</div> 
--><!-- 

	<div class="card card-body-mb-2">
		<div class="row">
			<div class="col-md-6">
				<a href="" target="_blank"></a>
			</div>
			<div class="col-md-6">
				<span class="badge badge-primary"></span> <span
					class="badge badge-primary"></span> <span
					class="badge badge-primary"></span>
			</div>
		</div>
	</div>	
	 -->
</section>	 
<footer style="padding-right:125px; padding-left:125px;margin-top:30px;">		
	
	<ul class="nav justify-content-end bg-dark" style="padding-right:100px; position: bottom;">
  
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Desenvolvedor</a>
  </li>    
   <li class="nav-item">
    <a class="nav-link" href="https://github.com/MauroDegaspari">Mauro Degaspari</a>
  </li>
</ul>	
</footer>
	
</body>

<script src="main.js"></script>
</html>